.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vmin 3vmin;
    flex-direction: row;
}

.weight {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 15vmin
}

.weight-value {
    min-width: 2vmin;
}

.state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
}

.match, .period {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.match-value {
    min-width: 2vmin;
}
