.sportsman-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2vmin 4vmin;
}

.sportsman-city {
    font-size: 8vmin;
    min-width: 3vmin;
    cursor: pointer;
}

.sportsman-points {
    font-size: 40vmin;
    display: flex;
    justify-self: center;
    cursor: pointer;
}

.sportsman-toggle {
    font-size: 5vmin;
    cursor: pointer;
}

.direction-left {
    align-items: flex-start;
}

.direction-right {
    align-items: flex-end;
}
